@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --foreground-rgb: 0, 0, 0;
 --background-start-rgb: 214, 219, 220;
 --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
 :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
 }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to top, rgb(4, 21, 39), rgb(1, 7, 15), rgb(4, 21, 39));
    background-size: cover;
    background-position: center;
}

@layer utilities {
 .text-balance {
  text-wrap: balance;
 }
}

.lantern-btn {
 background-image: radial-gradient(
  50% 50% at 50% 50%,
  #ffe7b0 0,
  #fed05c 51.04%,
  #c58000 100%
 );
 box-shadow: 0 0 20px rgba(255, 252, 226, 0.5);
 border-radius: 15px;
 color: var(--color-brown);
 font-size: calc(13px + 1vw);
 font-weight: 700;
 padding: 0.55rem 1.25rem;
 transition: filter 0.1s ease, box-shadow 0.1s ease;
 display: block;
 width: -moz-max-content;
 width: max-content;
 margin: 0 auto;
}

